<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">PAYE Calculator</li>
  </ol>
</nav>
<form [formGroup]="taxForm" (ngSubmit)="send()"> 

  <div class="form-group ">
    <label for="grossSalary">Gross Salary</label>
    <input type="text" id="grossSalary" class="form-control" formControlName="grossSalary">
    <p class="alert alert-danger" *ngIf="taxForm.get('grossSalary').hasError('required')">              
      Gross salary is Required
    </p>
  </div>
  
  <div class="form-group">
    <label for="type">Salary Period</label>
    <select  class="form-control" id="type" class="form-control" formControlName="earningType">
      <option class="form-group" *ngFor="let type of earningTypeOptions" [value]="type">{{type}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="taxYear">Tax Year</label>
    <select  class="form-control" id="taxYear"  formControlName="taxYear">
      <option class="form-group" *ngFor="let year of yearOptions" [value]="year">{{year}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="personAge">Person Age</label>
    <input type="text" class="form-control" id="personAge" formControlName="personAge">
    <p class="alert alert-danger" *ngIf="taxForm.get('personAge').hasError('required')">              
      Your age is Required
    </p>
  </div>
  
  <div class="form-group">
    <label for="medicalAid">Medical Aid dependants</label>
    <input class="form-control" type="text" placeholder="0" readonly>
  </div>
  
  <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!taxForm.valid">Calculate</button>
</form>

<div class="result"> 
  <div class="card">
    <div class="card-header">
      PAYE RESULTS ({{printPeriod}})
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Net Salary</td>
            <td><span>R </span>{{taxResult.netPay}}</td>
          </tr>
          <tr>
            <td>PAYE</td>
            <td><span>R </span>{{taxResult.paye}}</td>
          </tr>
          <tr>
            <td>Tax Credit</td>
            <td><span>R </span>{{taxResult.taxCredit}}</td>
          </tr>
          <tr>
            <td>PAYE (pre tax credit)</td>
            <td><span>R </span>{{taxResult.payeRaw}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-sm" (click)="togglePrintPeriod()">Convert</button>
  <span>Monthly/Annually</span>
</div>

