
<form [formGroup]="taxForm" (ngSubmit)="send()"> 

  <div class="form-group">
    <label for="grossSalary">Gross Salary</label>
    <input type="text" id="grossSalary" class="form-control" formControlName="grossSalary">
    <p class="alert alert-danger" *ngIf="taxForm.get('grossSalary').hasError('required')">              
      Name is Required
    </p>
  </div>
  
  <div class="form-group">
    <label for="type">Salary Period</label>
    <select  class="form-control" id="type" class="form-control" formControlName="earningType">
      <option class="form-group" *ngFor="let type of earningTypeOptions" [value]="type">{{type}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="taxYear">Tax Year</label>
    <select  class="form-control" id="taxYear"  formControlName="taxYear">
      <option class="form-group" *ngFor="let year of yearOptions" [value]="year">{{year}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="personAge">Person Age</label>
    <input type="text" class="form-control" id="age" formControlName="personAge">
  </div>
  
  <div class="form-group">
    <label for="medicalAid">Medical Aid dependants</label>
    <input class="form-control" type="text" placeholder="0" readonly>
  </div>
  
  <!--button type="button" class="btn btn-default" (click)="send()">Send</button-->
  <button type="submit" [disabled]="!taxForm.valid">Send</button>
</form>

<!--router-outlet></router-outlet-->